main {
  /* TODO: Make more padding left and right and change it with media queries. And padding on the bottom too maybe becasue the img should not be touching the footer. */
  height: 100%;
  width: 100%;
  margin: 0;
  padding-top: 17vh; // You can make this fix because you'll be changing the inline anyways.
}

/* The varibles are not a thing btw */
/* @media (--medium-viewport) {
  main {
    padding-inline: 2rem;
  }
}

@media (--small-viewport) {
  main {
    padding-inline: 1rem;
  }
}

/*TODO: Create mobile navbar*/
/* .bar {
  display: flex;
  flex-direction: row;
  background-color: orange;
  justify-content: space-between;
  width: 100%;
  height: 15vh;
  top: 0;
  left: 0;
  z-index: 4;
  position: fixed;
} */

.leftRightContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.s4ytsection {
  display: flex;
  flex-direction: row;
  background-color: #68b436;
  width: 100%;
  height: calc(100vh - 10vh);
  background-image: url('mockups/assets/dollarpage/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: flex-start;
  overflow: hidden; /* Hide scrollbars */
} 

/* TODO: Always 100% to put content inside in the middle. */
.contentContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  /* TODO: flex-direction row is the default you don't need it */
  flex-direction: row;
  width: 100%;
  height: 100%;
  /* TODO: do min width 0 you have to let it go smaller. */
  min-width: 900px;
  margin-right: 50px;
  margin-left: 100px;
}

.pressed,
.s4ytWhat,
.s4ytAmi,
.s4ytWhen,
.s4ytHowdo,
.s4ytWhatare {
  width: 150px;
  height: 50px;
  margin-bottom: 10px;
}

.s4ytWhat:hover {
  content: url("mockups/assets/01_more-info/btn_01-what-is-hover.png");
}

.s4ytAmi:hover {
  content: url("mockups/assets/01_more-info/btn_02-am-i-hover.png");
}

.s4ytWhen:hover {
  content: url("mockups/assets/01_more-info/btn_03-when-can-hover.png");
}

.s4ytHowdo:hover {
  content: url("mockups/assets/01_more-info/btn_04-how-do-i-hover.png");
}

.s4ytWhatare:hover {
  content: url("mockups/assets/01_more-info/btn_05-what-are-hover.png");
}


.textInfo {
  position: relative;
  z-index: 2;
  display: flex;
  color: #008dd2;
  width: 100%;
  max-width: 500px;
  margin-left: 0;
  flex-direction: column;
  align-items: flex-start;
}
.textInfo hgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-top: 50px;
}
.textInfo .textHeader {
  font-family: var(--heading-font2);
  font-size: 30px;
  color: #008dd2;
  z-index: 3;
  position: relative;
  text-align: center;
}
.textInfo hgroup div.line {
  position: relative;
  width: 80%;
  max-width: 500px;
  height: 3px;
  z-index: 3;
  background-color: #008dd2;
}
.textInfo .infoImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 800px;
  min-width: 600px;
  height: auto;
  z-index: 1;
  margin: 0 auto;
}
.textInfo ul {
  padding: 0;
  margin: 0;
  z-index: 3;
  width: 100%;
}
.textInfo ul .listinfo {
  font-size: 15px;
  margin: 0.5em 0;
  z-index: 3;
  margin-left: 10%;
  position: relative;
}

.backButton {
  display: none;
}

.s4ytLeftsec {
  display: flex;
  /* TODO: row is not need again. */
  flex-direction: row;
  /* TODO: Get rid of this and make the main padding left and right more. */
  margin-left: 10px;
  width: 100%;
  /* TODO: You have a max width on the image and this and that's why you do margin right 500px in that media query.
     you can just set the max width or whatever you want here and then on the img do width 100%.
  */
  max-width: 300px;
  height: auto;
}

.s4ytClick {
  width: auto;
  height: 100px;
  margin-left: -4vw;
  margin-bottom: 2vh;
}

/* TODO: Make bigger; (use design tool like figma) and buttons in the content would be bigger to as a result. */
.s4ytPaper {
  height: auto;
  width: auto;
  max-width: 400px;
  max-height: 550px;
  margin-top: 20px;
}

.s4ytInfobuttonsDesktop {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 8rem;
  width: 293px;
  z-index: 3;
}

.s4ytInfobuttonsMobile {
  display: none;
}

.powerbyt {
  text-align: left;
  font-size: 55px;
  color: white;
  margin-right: 25px;
  margin-top: 5px;
  margin-left: -60px;
}

.listbar1 {
  display: none;
}

@media(min-width: 1600px){
  .leftRightContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
  }
  .s4ytLeftsec{
    /* TODO: Don't ever do this we are trying to make it responsive. */
    margin-right: 500px;
  }
  .s4ytClick{
    width: 150px;
    height: 150px;
    margin-left: 0;
    margin-bottom: 2vh;
  }
  .s4ytPaper{
    max-width: 800px;
    max-height: 1200px;
  }
  .contentContainer{
    /* TODO: Should always be 100% because we want the content in this to be in the middle. */
    width: 100%;
  }
  .textInfo {
    position: relative;
    z-index: 2;
    display: flex;
    color: #008dd2;
    width: 100%;
    max-width: 1200px;
    margin-left: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .textInfo hgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin-top: 50px;
  }
  .textInfo .textHeader {
    font-family: var(--heading-font2);
    font-size: 50px;
    color: #008dd2;
    z-index: 3;
    position: relative;
    text-align: center;
  }
  .textInfo hgroup div.line {
    position: relative;
    width: 80%;
    max-width: 1200px;
    height: 3px;
    z-index: 3;
    background-color: #008dd2;
  }
  .textInfo .infoImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1200px;
    min-width: 800px;
    height: auto;
    z-index: 1;
    margin: 0 auto;
  }
  .textInfo ul {
    padding: 0;
    margin: 0;
    z-index: 3;
    width: 100%;
  }
  .textInfo ul .listinfo {
    font-size: 30px;
    margin: 0.5em 0;
    z-index: 3;
    margin-left: 10%;
    position: relative;
  }
  .pressed,
  .s4ytWhat,
  .s4ytAmi,
  .s4ytWhen,
  .s4ytHowdo,
  .s4ytWhatare {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}

@media(max-width: 1200px){
  .s4ytPaper{
    max-width: 300px;
    max-height: 400px;
  }
  .contentContainer{
    margin-left: 0;
  }
  .s4ytInfobuttonsDesktop{
    width: 200px;
  }
}

@media(max-width: 800px) {
  .s4ytLeftsec {
    display: none;
  }
  .s4ytInfobuttonsDesktop {
    display: none !important;
  }
  .s4ytInfobuttonsMobile {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-top: 8rem; 
    width: 293px;
    justify-self: first baseline;
    position: absolute;
    top: 15vh;
    left: 30%;
  }
  .textInfo {
    display: flex;
    justify-self: center;
  }
  .textHeader {
    font-size: 20px;
    margin-left: 0;
    margin-left: 10%;
    text-align: center;
  }
  .listinfo {
    font-size: 12px;
  } 
  .infoImg {
    width: 1000px;
    height: auto;
    position: fixed;
    top: 5%;
    left: -100px;
    z-index: -3;
  }
  .backButton {
    display: block;
    position: fixed;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 20%;
    height: 50px;
    width: 70px;
    top: 70%;
    left: 70%;
    z-index: 10;
  }
}
