/* TODO: Stop spamming VH nad VW. (max-width: <fixed value>; width: 100%) */

/* DELETE and use main */
main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding-top: 17vh;
}

/*TODO: Create mobile navbar*/
/* .bar {
  display: flex;
  flex-direction: row;
  background-color: orange;
  justify-content: space-between;
  width: 100%;
  height: 15vh;
  top: 0;
  left: 0;
  z-index: 4;
  position: fixed;
} */

.listbar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.listbar li {
  display: inline-flex;
  height: 20vh;
  width: auto;
}

.barBulogo {
  width: 25vh;
  height: auto;
  margin-right: 10vw;
  margin-top: 1vh;
  margin-left: 10vw;
}

.barSmallbaricon {
  width: 20vh;
  height: auto;
}

.barBigbaricon {
  width: 15vh;
  height: auto;
}

.talkBulletwrapper {
  display: inline-block;
  margin-left: 5vw;
}

.mbar {
  display: none;
}

.talkBullets {
  height: 7.5vh;
  width: auto;
  margin: 2vh;
}

.talkTalk {
  height: 20vh;
  width: auto;
}

.talkBg {
  border-bottom: 75vh solid #008dd2;
  border-left: 0 solid transparent;
  border-right: 50vh solid transparent;
  height: 0;
  width: 50vw;
  position: absolute;
  z-index: 2;
}

.s4ytsection {
  display: flex;
  flex-direction: row;
  background-color: #68b436;
  width: 100%;
  height: calc(100vh - 10vh);
  background-image: url(mockups/assets/dollarpage/background.png);
  justify-content: flex-start;
  background-position: -300px;
  overflow: hidden; /* Hide scrollbars */
}

.contentContainer{
  display: flex;
  flex-direction: row;
  justify-content: first baseline;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.pressed,
.s4ytWhat,
.s4ytAmi,
.s4ytWhen,
.s4ytHowdo,
.s4ytWhatare {
  width: 150px;
  height: 50px;
  margin-bottom: 10px;
}

.s4ytWhat:hover {
  content: url("mockups/assets/01_more-info/btn_01-what-is-hover.png");
}

.s4ytAmi:hover {
  content: url("mockups/assets/01_more-info/btn_02-am-i-hover.png");
}

.s4ytWhen:hover {
  content: url("mockups/assets/01_more-info/btn_03-when-can-hover.png");
}

.s4ytHowdo:hover {
  content: url("mockups/assets/01_more-info/btn_04-how-do-i-hover.png");
}

.s4ytWhatare:hover {
  content: url("mockups/assets/01_more-info/btn_05-what-are-hover.png");
}

/* .contentContainer {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  gap: 100px;
} */
.textInfo {
  position: relative;
  z-index: 2;
  display: flex;
  color: #008dd2;
  /* width: 100%; */
  /* height: 100%; */
  width: 100%;
  max-width: 500px;
  margin-left: 0;
  flex-direction: column;
  align-items: flex-start;
}
.textInfo hgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-top: 50px;
}
.textInfo .textHeader {
  font-family: var(--heading-font2);
  /* Stop vw */
  font-size: 30px;
  color: #008dd2;
  z-index: 3;
  position: relative;
  text-align: center;
}
.textInfo hgroup div.line {
  position: relative;
  width: 80%;
  max-width: 500px;
  height: 3px;
  z-index: 3;
  background-color: #008dd2;
}
.textInfo .infoImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 800px;
  min-width: 600px;
  height: auto;
  z-index: 1;
  margin: 0 auto;
}
.textInfo ul {
  padding: 0;
  margin: 0;
  z-index: 3;
}
.textInfo ul .listinfo {
  font-size: 15px;
  margin: 0.5em 0;
  z-index: 3;
  margin-left: 10%;
  position: relative;
}

.backButton {
  display: none;
}

.s4ytLeftsec {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  width: 100%;
  max-width: 300px;
  height: auto;
}

.s4ytClick {
  width: auto;
  height: 10vh;
  margin-left: -4vw;
  margin-bottom: 2vh;
}

.s4ytPaper {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 400px;
  margin-top: 5vh;
}

.s4ytInfobuttonsDesktop {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  margin-top: 8rem;
  width: 293px;
  z-index: 3;
}

.s4ytInfobuttonsMobile {
  display: none;
}

.powerbyt {
  text-align: left;
  font-size: 55px;
  color: white;
  margin-right: 25px;
  margin-top: 5px;
  margin-left: -60px;
}

/* .txt1,
.txt2,
.txt3,
.txt4,
.txt5 {
  display: none;
} */

.listbar1 {
  display: none;
}

/* @media (max-width: 1200px) {
  .s4ytLeftsec {
    display: none;
  }
  .textInfo {
    position: fixed;
    top: 30%;
    left: 40%;
  }
  .textHeader {
    font-size: 25px;
  }
  .listinfo {
    font-size: 15px;
  }
  .infoImg {
    width: 1000px;
    height: auto;
    position: fixed;
    top: 10%;
    left: 20%;
    z-index: -3;
  }
} */

@media(max-width: 800px) {
  .s4ytLeftsec {
    display: none;
  }
  .s4ytInfobuttonsDesktop {
    display: none !important;
  }
  .s4ytInfobuttonsMobile {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-top: 8rem; 
    width: 293px;
    justify-self: first baseline;
    position: absolute;
    top: 15vh;
    left: 30%;
  }
  .textInfo {
    display: flex;
    justify-self: center;
  }
  .textHeader {
    font-size: 20px;
    margin-left: 0;
    margin-left: 10%;
    text-align: center;
  }
  .listinfo {
    font-size: 12px;
  } 
  .infoImg {
    width: 1000px;
    height: auto;
    position: fixed;
    top: 5%;
    left: -100px;
    z-index: -3;
  }
  .backButton {
    display: block;
    position: fixed;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 20%;
    height: 50px;
    width: 70px;
    top: 70%;
    left: 70%;
    z-index: 10;
  }
}
