/* ================================
   Base & Variables
================================ */

/* Todo: 
    [] Adjust Navigation Button, Info Image, and Paper Logo to scale responsively up to mobile
    [] Keep Sizes not overflowing at all viewpoints so there isn't scroll
    [] Clean up Variable use
*/

:root {
    /* ========== Image Paths ========== */
    /* Backgrounds and Visuals */
    --desktop-bg: url('/images/s4yt/background.png');
    --mobile-bg: url('/images/s4yt/background-mobile.png');
    --desktop-infoImg: url('/images/s4yt/background-info.png');
    --mobile-infoImg: url('/images/s4yt/background-info-mobile.png');

    /* === Navigation Buttons === */

    --what-normal: url("/images/s4yt/btn_01-what-is-normal.png");
    --whatHover: url("/images/s4yt/btn_01-what-is-hover.png");
    --what-pressed: url("/images/s4yt/btn_01-what-is-pressed.png");

    --amI-normal: url("/images/s4yt/btn_02-am-i-normal.png");
    --amIHover: url("/images/s4yt/btn_02-am-i-hover.png");
    --amI-pressed: url("/images/s4yt/btn_02-am-i-pressed.png");

    --when-normal: url("/images/s4yt/btn_03-when-can-normal.png");
    --whenHover: url("/images/s4yt/btn_03-when-can-hover.png"); 
    --when-pressed: url("/images/s4yt/btn_03-when-can-pressed.png");

    --howDo-normal: url("/images/s4yt/btn_04-how-do-i-normal.png");
    --howDoHover: url("/images/s4yt/btn_04-how-do-i-hover.png");
    --howDo-pressed: url("/images/s4yt/btn_04-how-do-i-pressed.png");

    --whatAre-normal: url("/images/s4yt/btn_05-what-are-normal.png");
    --whatAreHover: url("/images/s4yt/btn_05-what-are-hover.png");
    --whatAre-pressed: url("/images/s4yt/btn_05-what-are-pressed.png");

    /* ========== Variables ========== */

    /* ===== Images ===== */

    /* Default Values (Desktop) and ratios */
    --paper-logo-height: 70vh;
    --paper-logo-maxheight: 70vh;

    --info-image-height: 60vh;

    --speech-bubble-ratio: 0.3125; /* The Speech Bubble is a constant ratio of paper logo */
    --speech-bubble-height: calc(var(--paper-logo-height) * var(--speech-bubble-ratio));
    --speech-bubble-margin-left-ratio: -0.12;
    --speech-bubble-margin-bottom-ratio: 0.1;

    /* Breakpoints (reapplied to defaults) */
    --smalldesk-paper-logo-maxheight: 370px;

    --mobile-info-image-height: 58vh;
    /* ===== Font Sizes ===== */
    
    /* Default Values (Desktop) */
    --header-font-size: 1.5625rem;
    --header-font-size-clamp: clamp(1.5625rem, 0.5434782608695652rem + 1.6304347826086956vw, 2.5rem);
    --body-font-size: 1.25rem;
    --body-font-size-clamp: clamp(1.25rem, 0.4347826086956521rem + 1.3043478260869565vw, 2rem);
    /* Breakpoints (reapplied to defaults) */
    --mediumdesk-header-font-size: 28px;
    --mediumdesk-body-font-size: 20px;
    
    --smalldesk-header-font-size: 30px;
    --smalldesk-body-font-size: 26px;

    --tablet-header-font-size: 27px;
    --tablet-body-font-size: 24px;

    --mobile-header-font-size: 23px;
    --mobile-body-font-size: 20px;
    --more-info-font-size: 40px;

    /* ===== Buttons ===== */
    /* Default Values (Desktop) */
    --button-width: 200px;
    --button-width-clamp: clamp(200px, 10.869565217391305vw, 12.5rem);
    --button-height: calc(120/363 * var(--button-width)); /* Image Aspect Ratio */
    --button-spacing: 2.2vh;

    /* Breakpoints (reapplied to defaults) */
    --mobile-button-width: 53vw;
    --mobile-button-spacing: 0.7vh;

    /* ===== Misc ===== */

    --discord-logo-ratio: 1.1;
    --discord-logo-height: calc(var(--body-font-size) * var(--discord-logo-ratio));

    /* ===== Mobile-Desktop Control Variables (set to desktop defaults) ===== */

    --mobile-display: none;
    --desktop-display: flex;
    --active-bg: var(--desktop-bg);
    --active-info-image: var(--desktop-infoImg);
}

/* Main container */
.container {
    padding-left: 9vw;
    padding-right: 9vw;
    background-image: var(--active-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
}
/* HEADER AND FOOTER VISUALIZATION STYLES !!! REMOVE ON COMPLETION !!! */
header {
    height: 16vh;
    background-color: var(--c-orange);
}
footer {
    height: 6vh;
    background-color: var(--c-magenta);
}

/* ================================
   Left Section (Logo & Click Me)
================================ */

.leftSec { 
    display: var(--desktop-display);
    height: auto;
    align-items: center;
}

.paper {
    width: auto;
    height: var(--paper-logo-height);
    max-height: var(--paper-logo-maxheight);
    object-fit: contain;
}

.speechBub {
    width: auto;
    height: var(--speech-bubble-height);
    margin-left: calc(var(--paper-logo-height) * var(--speech-bubble-margin-left-ratio));
    margin-bottom: calc(var(--paper-logo-height) * var(--speech-bubble-margin-bottom-ratio));
    position: relative;
    z-index: 1; /* Ensure it stays above the paper */
}

/* ================================
   Right Section (Content & Navigation)
================================ */

.contentContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
}

.navBtn {
    cursor: pointer;
    width: var(--button-width);
    width: var(--button-width-clamp);
    height: var(--button-height);
    margin-bottom: var(--button-spacing);

    /* Background image properties */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

/* Button normal states */
.what { background-image: var(--what-normal); }
.amI { background-image: var(--amI-normal); }
.when { background-image: var(--when-normal); }
.howDo { background-image: var(--howDo-normal); }
.whatAre { background-image: var(--whatAre-normal); }

/* Button hover states */
.what:hover { background-image: var(--whatHover); }
.amI:hover { background-image: var(--amIHover); }
.when:hover { background-image: var(--whenHover); } 
.howDo:hover { background-image: var(--howDoHover); }
.whatAre:hover { background-image: var(--whatAreHover); }

/* Button pressed states */
.what.pressed { background-image: var(--what-pressed); }
.amI.pressed { background-image: var(--amI-pressed); }
.when.pressed { background-image: var(--when-pressed); }
.howDo.pressed { background-image: var(--howDo-pressed); }
.whatAre.pressed { background-image: var(--whatAre-pressed); }

/* Desktop Navigation */
.navDesktop {
    display: var(--desktop-display);
    flex-direction: column;
    margin: 0rem 0 0 3vw;
    width: var(--button-width);
    z-index: 3;
}

/* ================================
   Content Sections
================================ */

/* === General === */

.textInfo {
    position: relative;
    z-index: 2;
    display: flex;
    color: #008dd2;
    width: 31vw;
    padding-bottom: 10vh;
    padding-top: 15vh;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

/* === Header === */

/* Header Group Container */
.textInfo hgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 2vh;
    height: auto;
}

/* Header Text */
.textHeader {
    font-family: var(--heading-font2);
    font-size: var(--header-font-size);
    font-size: var(--header-font-size-clamp);
    text-align: center;
    color: #008dd2;
    z-index: 3;
    position: relative;
    padding-bottom: 1vh;
    width: 100%;
}

/* Header Seperator Line */
.textInfo hgroup div.line {
    width: 85%;
    height: 3px;
    z-index: 3;
    background-color: #008dd2;
    margin-left: 0;
}

/* === Body === */

/* TODO: */
.textInfo .infoImg {
    content: var(--active-info-image);
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: auto;
    height: var(--info-image-height);
    z-index: 1;
    margin-left: 3vw; */

    top: 45%;
    left: 54%;
    transform: translate(-50%, -55%);
    width: auto;
    height: var(--info-image-height);
    z-index: 1;
}

.textInfo ul {
    padding: 0;
    margin-left: 1.5vw;
    z-index: 3;
    width: 89%;
}

.textInfo ul .listinfo {
    font-size: var(--body-font-size);
    font-size: var(--body-font-size-clamp);
    margin: 0;
    z-index: 3;
    position: relative;
    line-height: 1;
}

.discordLogo {
    vertical-align: middle;
    width: var(--discord-logo-height);
    height: auto;
}

/* ================================
   Mobile Classes
================================ */

.mobileAddons {
    display: var(--mobile-display);
}

.navMobile {
    display: var(--mobile-display);
    flex-direction: column;
    margin: auto;
    width: var(--button-width);
    position: absolute;
    top: 37vh;
    left: 0;
    right: 0;
    height: 60vh;
    max-height: 450px;
}

/* Mobile Back Button */
.backButton {
    display: var(--mobile-display);
    position: fixed;
    background-color: #ef7f1a;
    color: white;
    border: none;
    border-radius: 15%;
    height: 22vw;
    width: 35vw;
    font-size: 2.5rem;
    font-weight: bold;
    top: 21%;
    left: 57.5%;
    z-index: 10;
}

.moreInfoBlock {
    display: var(--mobile-display);
}

.moreInfoText {
    font-family: var(--heading-font2);
    position:absolute;
    font-size: var(--more-info-font-size);
    line-height: 1;
    top: 28%;
    left: 26%;
    transform: translate(-50%, -50%);
}

/* =========================
   Responsive Breakpoints
========================= */
@media (max-width: 1400px) {
    :root {
        /* Font Sizes */
        /* --header-font-size: var(--mediumdesk-header-font-size);
        --body-font-size: var(--mediumdesk-body-font-size);
        --discord-logo-height: calc(var(--body-font-size) * var(--discord-logo-ratio)); */
    }
}

/* Medium Desktops (up to 1200px) */
@media (max-width: 1200px) {
    :root {
        /* Font Sizes */
        /* --header-font-size: var(--smalldesk-header-font-size);
        --body-font-size: var(--smalldesk-body-font-size);
        --discord-logo-height: calc(var(--body-font-size) * var(--discord-logo-ratio)); */

        /* images */
        --paper-logo-maxheight: var(--smalldesk-paper-logo-maxheight);
        --paper-logo-height: min(70vh, var(--paper-logo-maxheight));
        --speech-bubble-height: calc(var(--paper-logo-height) * var(--speech-bubble-ratio));
    }

}

/* Tablets (up to 1000px) */
@media (max-width: 1000px) {
    :root {
        /* Font Sizes */
        /* --header-font-size: var(--tablet-header-font-size);
        --body-font-size: var(--tablet-body-font-size);
        --discord-logo-height: calc(var(--body-font-size) * var(--discord-logo-ratio)); */
    }
}

/* Mobile Devices (up to 800px) */
@media (max-width: 800px) {
    :root {
        /* Mobile-Desktop Control */
        --active-bg: var(--mobile-bg);
        --mobile-display: block;
        --desktop-display: none;
        --active-info-image: var(--mobile-infoImg);

        /* Font Sizes */
        --header-font-size: var(--mobile-header-font-size);
        --body-font-size: var(--mobile-body-font-size);
        --discord-logo-height: calc(var(--body-font-size) * var(--discord-logo-ratio));

        /* Images */
        --info-image-height: var(--mobile-info-image-height);

        /* Buttons */
        --button-width: var(--mobile-button-width);
        --button-spacing: var(--mobile-button-spacing);
    }
    .textInfo .infoImg {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -60%);
    }
    main {
        padding-left: 0;
        padding-right: 0;
    }
    .textInfo {
        width: 95%;
        margin-left: 0;
    }
    .contentContainer {
        justify-content: center;
        width: 100%;
        padding-top: 15vh;
        padding-left: 0;
        padding-right: 0;
    }
    .textInfo ul .listinfo {
        margin: 2px;
    }
}