.geometricDivider {
  height: 80px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.landingToResources {
  background: linear-gradient(135deg, #4caf50 50%, #2196f3 50%);
}

.resourcesToContribute {
  background: linear-gradient(-135deg, #2196f3 50%, #e91e63 50%);
}

.contributeToS4YT {
  background: linear-gradient(135deg, #e91e63 50%, #2196f3 50%);
}

.s4ytToBlog {
  background: linear-gradient(-135deg, #2196f3 50%, #e91e63 50%);
}

.blogToLetsTalk {
  background: linear-gradient(135deg, #e91e63 50%, #4caf50 50%);
}