.hidden {
  display: none;
}

.landingMobile {
  display: none; 
}

.landingDesktop {
  display: flex; 
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .homeDesktopSidebar {
      width: 110% !important;
    }

}

@media only screen and (min-width: 768px) {

  .homeAside {
    width: 47%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
  }

  .homeDesktopSidebar {
    /* TODO: Delete */
    /* float: left; */
    background-color: #fafafa;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    margin-bottom: 0;
    position: absolute;
    z-index: 9;
    top: -8.2rem;
    height: calc(100% + 8.2rem);
    z-index:1001;
    padding: 20px;
  }

  .landingContent {
    display: flex;
  }

  .homeSbar {
    width: 60%;
    margin: auto;
    margin-top: 5vh;
  }

  .homeSbarWord {
    margin-top: 0vh;
    color: #515151;
    width: 100%;
    text-align: center;
    font-size: 20px;
  }

  .landingSection {
    display: flex;
    background-color: #68b436;
    width: 100%;
    height: 75vh;
    justify-content: space-between;
    background-image: url(../../../../assets/images/homepage/bg_mobile.png);
  }

  .homeLeftSec {
    display: flex;
    flex-direction: column;
  }

  .homeSectionLizard {
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: 3rem;
  }

  .homeSectionText {
    margin-left: 5vw;
    font-family: "coolvetica", "coolvetica", serif;
    color: #fafafa;
    font-weight: 2;
    font-size: clamp(20px, 3.3vw, 90px);
    padding: 1rem;
    margin-top: 2rem;
  }

  .homeSectionLine {
    width: 100%;
    height: 12px;
    background: #e5097f;
    margin-left: -10vw;
    margin-top: 4rem;
    z-index: 1002;
    transform: translate(0%);
    box-shadow: 0 4px 0 0 #e07e22;
  }

  .homeSectionKnow {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    max-width: 250px;
  }
}



@media only screen and (max-width: 769px) {
  .landingDesktop {
    display: none;
  }

  .landingMobile {
    display: flex;
    flex-direction: column;
  }


  .homePhoneBar {
    width: 100%;
    height: 18vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fafafa;
  }

  .homeBarLogo {
    margin-top: 1rem;
    max-width: 100%;
    height: auto;
  }

  .homeBarMenuButton {
    margin-top: 1rem;
    max-width: 100%;
    height: auto;
    background-color: transparent;
    border-color: transparent;
  }

  .homeBarMenuImage {
    max-width: 100%;
    height: auto;
  }

  .homeUp {
    min-height: 200px;
    background-color: #68b436;
    display: flex;
    justify-content: center;
    background-image: url(../../../../assets/images/homepage/bg_mobile.png);
  }

  .homeLizard {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
  }

  .homeDown {
    min-height: 120px;
    background-color: #ef7f1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .homeKnow {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .homeWord {
    font-size: xx-large;
    font-family: "coolvetica", "coolvetica", serif;
    width: 85vw;
    text-align: center;
    margin-left: 7.5vw;
    color: #fafafa;
  }
}