.scrollAreaWrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
}

.scrollAreaWrapper .content {
  transition: transform 0.1s linear;
  position: absolute;
  top: 0;
  left: 0;
  right: 40px;
  bottom: 0;
  padding-bottom: 16px;
/* width: 100%; */
}

.scrollAreaWrapper :global(.scrollbar) {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  width: 24px; 
  height: 97%;
  background: transparent;
  pointer-events: none;
  z-index: 10;
  border: none;
  box-sizing: border-box;
  border-radius: 0; 
}

.scrollAreaWrapper :global(.scrollbar) .scrollbarTrack {
  position: absolute;
  left: 45%;
  top: 0;
  width: 4px;
  height: 100%;
  background: #e4e4e4;
  border-radius: 0; 
  transform: translateX(-50%);
}

.scrollAreaWrapper :global(.scrollbar) .thumb {
  position: absolute;
  left: 0%;
  transform: translateX(-50%);
  width: 21px;
  height: 40px;
  background: var(--c-heading-w);
  border-radius: 32px;
  cursor: grab;
  pointer-events: auto;
}
